*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url("../../images/office.png");
    font-family: Montserrat Thin;
}



.title{
    color: #393939;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 3rem;
}

.navbtn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 70%;
    height: 100%;
    margin: auto;
    margin-top: 6rem;
    gap: 30px;
}

.navbtn Button {
    height: 5rem;
    width: 100%;
    font-size: 20px;
    border-radius: 25px;
    font-family: Montserrat Thin;
    background-color: #393939;
    color: #ec7f37;
}

.iconprofile{
    display: flex;
    flex-direction: row;
    margin: auto;
    height: 30px;
    margin-bottom: 10px;
    filter: invert(78%) sepia(53%) saturate(5574%) hue-rotate(339deg) brightness(99%) contrast(87%);
}

.link-nav{
    text-decoration: none;
    display: flex;
    width: 100%;
}
