* {
  margin: 0;
  padding: 0;
}

.card-container {
  display: flex;
  flex-direction: row;
  width: 60%;
  height: 35rem;
  margin: auto;
  margin-top: 9rem;
  border: 5px solid black;
  background-color: #393939;
  border-radius: 10%;
}

.card-icons {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 70%;
  gap: 55px;
  margin-top: 4.2rem;
  filter: invert(78%) sepia(53%) saturate(5574%) hue-rotate(339deg) brightness(99%) contrast(87%);
}

.card-descriptions {
  display: flex;
  flex-direction: column;
  width: 65%;
  gap: 67px;
  margin-top: 4rem;
  color: #ec7f37;
}

.card-descriptions p,
a {
  font-size: 20px;
  color: #ec7f37;
}
