* {
  margin: 0;
  padding: 0;
}

.cv-container{
  display: flex;
  flex-direction: row;
  height: 35rem;
  justify-content: center;
  gap: 40px;
  margin-top: 20px;
}

.download-btn{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}

.btn-dwn{
  font-size: 25px;
  background-color: #393939;
  color: #ec7f37;
  width: 20%;
}